@media {
	.row-2 {
		background-color: #93F082;
		padding-top: 3em;
		padding-bottom: 3em;
		font-size: 1.5vw;
	}
}

@media {
  .cuadrado {
  	width: 37.5em;
	 	color: #fff;
	  background-color: #ff875f;
	  padding: 1.5em;
	  margin-left: auto;
    margin-right: auto;
	  text-align: center;
  }
}

@media {
	.row-2 {
		background-color: #93F082;
		padding-top: 3em;
		padding-bottom: 3em;
		font-size: 1.5vw;
	}
}

@media {
	.row-4 h1{
		font-size: 3em;
		padding: 1em;
	}
}

